{% extends 'gear/base.html' %}
{% load static %}
{% block title %}- Tanks Gear{% endblock %}
{% block content %}
    <h3><img src="{% static 'gear/media/TankRole.png' %}" alt="Fending gear"
             style="width: 35px; height: 35px"> Fending</h3><br>
    <div class="row">
        <div class="col" id="gear">
            <h6>Head</h6>
            <ul>
                {% for item in fending_head %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No gear.
                {% endfor %}
            </ul>
            <br>

            <h6>Body</h6>
            <ul>
                {% for item in fending_body %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No gear.
                {% endfor %}
            </ul>
            <br>

            <h6>Legs</h6>
            <ul>
                {% for item in fending_legs %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No gear.
                {% endfor %}
            </ul>
            <br>

            <h6>Hands</h6>
            <ul>
                {% for item in fending_hands %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No gear.
                {% endfor %}
            </ul>
            <br>

            <h6>Feet</h6>
            <ul>
                {% for item in fending_feet %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No gear.
                {% endfor %}
            </ul>
            <br>
        </div>

        <div class="col">
            <h6>Weapons</h6>
            <ul id="weapons">
                {% for item in tank_weapon %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} ({{ item.job.all.last }},
                        i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No weapons.
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col" id="accessories">

            <h6>Earrings</h6>
            <ul>
                {% for item in fending_earrings %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No accessories.
                {% endfor %}
            </ul>
            <br>

            <h6>Necklace</h6>
            <ul>
                {% for item in fending_necklace %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No gear.
                {% endfor %}
            </ul>
            <br>

            <h6>Bracelet</h6>
            <ul>
                {% for item in fending_bracelet %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No gear.
                {% endfor %}
            </ul>
            <br>

            <h6>Ring</h6>
            <ul>
                {% for item in fending_ring %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No gear.
                {% endfor %}
            </ul>
            <br>
        </div>
        <div class="col">
            <h6>Shields</h6>
            <ul id="shields">
                {% for item in shield %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a></li>
                {% empty %}
                    No shields.
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}