{% extends 'gear/base.html' %}
{% load static %}
{% block title %}- Add Gearset{% endblock %}
{% block content %}
    <div class="container">
        <h1>Create your gearset</h1><br>
        <form method="POST">
            <div class="row">

                <div class="col-6">
                    {% csrf_token %}
                    <input value="{{ user.pk }}" type="hidden" name="user">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" name="title" id="title" class="form-control form-control-sm"
                               aria-describedby="titleHelp" required placeholder="Title of this gearset">
                        <small id="titleHelp" class="form-text text-muted">
                            Title must be up to 50 characters long, contain letters, and must not
                            contain special characters or emoji.
                        </small>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="content">Content:</label>
                        <select name="content" id="content" class="form-control form-control-sm" required>

                            {% for content in contents %}
                                <option value="{{ content.id }}" id="{{ content.id }}">{{ content }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="race">Race:</label>
                        <select name="race" id="race" class="form-control form-control-sm" required>

                            {% for race in races %}
                                <option value="{{ race.id }}" id="{{ race.id }}">{{ race }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>

                    <div class="form-group">
                        <label for="job">Job:</label>
                        <select name="job" id="job" class="form-control form-control-sm" required>
                            <option value="0">---</option>
                            {% for job in jobs %}
                                <option value="{{ job.id }}" id="{{ job.id }}">{{ job }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <br>

                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit" id="button_to_submit">Create</button>
                    </div>

                </div>

                <div class="col-6" id="gearset" style="visibility: hidden">
                    <div id="gears">

                        <div id="weapon">
                            <div class="form-group">
                                <label for="weapon">Weapon:</label>
                                <select name="weapon" id="weapon" class="form-control form-control-sm"
                                        style="margin-bottom: 5px" required>

                                    {% for weapon in weapons %}
                                        <option value="{{ weapon.id }}" id="{{ weapon.id }}">{{ weapon }}
                                            (i{{ weapon.item_level }}, {{ weapon.job.all.last }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div id="head">
                            <div class="form-group">
                                <label for="head">Head:</label>
                                <select name="head" id="head" class="form-control form-control-sm"
                                        style="margin-bottom: 5px" required>

                                    {% for head in heads %}
                                        <option value="{{ head.id }}" id="{{ head.id }}">{{ head }}
                                            (i{{ head.item_level }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div id="body">
                            <div class="form-group">
                                <label for="body">Body:</label>
                                <select name="body" id="body" class="form-control form-control-sm"
                                        style="margin-bottom: 5px" required>

                                    {% for body in bodies %}
                                        <option value="{{ body.id }}" id="{{ body.id }}">{{ body }}
                                            (i{{ body.item_level }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div id="legs">
                            <div class="form-group">
                                <label for="legs">Legs:</label>
                                <select name="legs" id="legs" class="form-control form-control-sm"
                                        style="margin-bottom: 5px" required>

                                    {% for leg in legs %}
                                        <option value="{{ leg.id }}" id="{{ leg.id }}">{{ leg }}
                                            (i{{ leg.item_level }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div id="hands">
                            <div class="form-group">
                                <label for="hands">Hands:</label>
                                <select name="hands" id="hands" class="form-control form-control-sm"
                                        style="margin-bottom: 5px" required>

                                    {% for hand in hands %}
                                        <option value="{{ hand.id }}" id="{{ hand.id }}">{{ hand }}
                                            (i{{ hand.item_level }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div id="feet">
                            <div class="form-group">
                                <label for="feet">Feet:</label>
                                <select name="feet" id="feet" class="form-control form-control-sm"
                                        style="margin-bottom: 5px" required>

                                    {% for foot in feet %}
                                        <option value="{{ foot.id }}" id="{{ foot.id }}">{{ foot }}
                                            (i{{ foot.item_level }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div id="earrings">
                            <div class="form-group">
                                <label for="earrings">Earrings:</label>
                                <select name="earrings" id="earrings" class="form-control form-control-sm"
                                        style="margin-bottom: 5px" required>

                                    {% for earring in earrings %}
                                        <option value="{{ earring.id }}" id="{{ earring.id }}">{{ earring }}
                                            (i{{ earring.item_level }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div id="necklace">
                            <div class="form-group">
                                <label for="necklace">Necklace:</label>
                                <select name="necklace" id="necklace" class="form-control form-control-sm"
                                        style="margin-bottom: 5px" required>

                                    {% for necklace in necklaces %}
                                        <option value="{{ necklace.id }}" id="{{ necklace.id }}">{{ necklace }}
                                            (i{{ necklace.item_level }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div id="bracelet">
                            <div class="form-group">
                                <label for="bracelet">Bracelet:</label>
                                <select name="bracelet" id="bracelet" class="form-control form-control-sm"
                                        style="margin-bottom: 5px" required>

                                    {% for bracelet in bracelets %}
                                        <option value="{{ bracelet.id }}" id="{{ bracelet.id }}">{{ bracelet }}
                                            (i{{ bracelet.item_level }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div id="left_ring">
                            <div class="form-group">
                                <label for="left_ring">Left ring:</label>
                                <select name="left_ring" id="left_ring" class="form-control form-control-sm"
                                        style="margin-bottom: 5px" required>

                                    {% for left_ring in left_rings %}
                                        <option value="{{ left_ring.id }}"
                                                id="{{ left_ring.id }}">{{ left_ring }} (i{{ left_ring.item_level }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div id="right_ring">
                            <div class="form-group">
                                <label for="right_ring">Right ring:</label>
                                <select name="right_ring" id="right_ring" class="form-control form-control-sm"
                                        style="margin-bottom: 5px" required>

                                    {% for right_ring in right_rings %}
                                        <option value="{{ right_ring.id }}"
                                                id="{{ right_ring.id }}">{{ right_ring }} (i{{ right_ring.item_level }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div id="shield">
                            <div class="form-group">
                                <label for="shield">Shield:</label>
                                <select name="shield" id="shield" class="form-control form-control-sm">
                                    <option value="0">---</option>
                                    {% for shield in shields %}
                                        <option value="{{ shield.id }}" id="{{ shield.id }}">{{ shield }}
                                            (i{{ shield.item_level }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </form>
    </div>
    <script src="{% static 'gear/gearset.js' %}"></script>
{% endblock %}