{% extends 'gear/__base__.html' %}
{% block content %}

    <div><h1>{{ item.name }}</h1></div>
    <div><h3>{{ item.cost }} (ilvl {{ item.item_level }})</h3></div><br>
    <h4>{{ item.craftable|yesno:'Craftable,Non-craftable' }}</h4><br>

    <div id="jobs">
        <h5>Jobs:</h5>
        <ul>
            {% for job in item.job.all %}
                <li>{{ job.name }}</li>
            {% endfor %}
        </ul>
    </div><br>

    <div id="stats">
        <table class="table table-hover">
            {% if item.delay %}
                <tr>
                    <th>{% if item.physical_dmg %}Physical damage: {% endif %}{% if item.magical_dmg %}Magical
                        damage: {% endif %}</th>
                    <th>{% if item.physical_dmg %}{{ item.physical_dmg }}{% endif %}{% if item.magical_dmg %}
                        {{ item.magical_dmg }}{% endif %}</th>
                </tr>
                <tr>
                    <th>Auto-attack:</th>
                    <th>{{ item.auto_attack }}</th>
                </tr>
                <tr>
                    <th>Delay:</th>
                    <th>{{ item.delay }}</th>
                </tr>
            {% endif %}
            {% if item.block_rate %}
                <tr>
                    <th>Block strength:</th>
                    <th>{{ item.block_strength }}</th>
                </tr>
                <tr>
                    <th>Block rate:</th>
                    <th>{{ item.block_rate }}</th>
                </tr>
            {% endif %}
            {% if item.defense %}
                <tr>
                    <th>Defense:</th>
                    <th>{{ item.defense }}</th>
                </tr>
                <tr>
                    <th>Magic defense:</th>
                    <th>{{ item.magic_defense }}</th>
                </tr>
            {% endif %}
            {% if item.strength %}
                <tr>
                    <th>Strength:</th>
                    <th>{{ item.strength }}</th>
                </tr>
            {% endif %}
            {% if item.dexterity %}
                <tr>
                    <th>Dexterity:</th>
                    <th>{{ item.dexterity }}</th>
                </tr>
            {% endif %}
            {% if item.intelligence %}
                <tr>
                    <th>Intelligence:</th>
                    <th>{{ item.intelligence }}</th>
                </tr>
            {% endif %}
            {% if item.mind %}
                <tr>
                    <th>Mind:</th>
                    <th>{{ item.mind }}</th>
                </tr>
            {% endif %}
            {% if item.piety %}
                <tr>
                    <th>Piety:</th>
                    <th>{{ item.piety }}</th>
                </tr>
            {% endif %}
            <tr>
                <th>Vitality:</th>
                <th>{{ item.vitality }}</th>
            </tr>
            {% if item.tenacity %}
                <tr>
                    <th>Tenacity:</th>
                    <th>{{ item.tenacity }}</th>
                </tr>
            {% endif %}
            {% if item.critical_rate %}
                <tr>
                    <th>Critical rate:</th>
                    <th>{{ item.critical_rate }}</th>
                </tr>
            {% endif %}
            {% if item.direct_hit %}
                <tr>
                    <th>Direct hit:</th>
                    <th>{{ item.direct_hit }}</th>
                </tr>
            {% endif %}
            {% if item.determination %}
                <tr>
                    <th>Determination:</th>
                    <th>{{ item.determination }}</th>
                </tr>
            {% endif %}
            {% if item.skill_speed %}
                <tr>
                    <th>Skill speed:</th>
                    <th>{{ item.skill_speed }}</th>
                </tr>
            {% endif %}
            {% if item.spell_speed %}
                <tr>
                    <th>Spell speed:</th>
                    <th>{{ item.spell_speed }}</th>
                </tr>
            {% endif %}
        </table>
    </div><br>

    <a class='btn btn-outline-primary' href="{% url 'gear_list' %}">Back</a>
{% endblock %}