{% extends 'gear/__base__.html' %}
{% load static %}
{% block title %}- DPS Gear{% endblock %}
{% block content %}
    <div class="row">

        <div class="col">
            <h3><img src="{% static 'gear/media/DPSRole.png' %}" alt="Striking gear"
                     style="width: 35px; height: 35px"> Striking</h3><br>

            <h6>Head</h6>
            <ul>
                {% for item in striking_head %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No head.
                {% endfor %}
            </ul>
            <br>

            <h6>Body</h6>
            <ul>
                {% for item in striking_body %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No body.
                {% endfor %}
            </ul>
            <br>

            <h6>Legs</h6>
            <ul>
                {% for item in striking_legs %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No legs.
                {% endfor %}
            </ul>
            <br>

            <h6>Hands</h6>
            <ul>
                {% for item in striking_hands %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No hands.
                {% endfor %}
            </ul>
            <br>

            <h6>Feet</h6>
            <ul>
                {% for item in striking_feet %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No feet.
                {% endfor %}
            </ul>
            <br>

            <h6>Weapons</h6>
            <ul id="weapons">
                {% for item in mnksam_weapon %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} ({{ item.job.all.last }},
                        i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No weapon.
                {% endfor %}
            </ul>
            <br>

            <h6>Earrings</h6>
            <ul>
                {% for item in slaying_earrings %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No earrings.
                {% endfor %}
            </ul>
            <br>

            <h6>Necklace</h6>
            <ul>
                {% for item in slaying_necklace %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No necklace.
                {% endfor %}
            </ul>
            <br>

            <h6>Bracelet</h6>
            <ul>
                {% for item in slaying_bracelet %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No bracelet.
                {% endfor %}
            </ul>
            <br>

            <h6>Ring</h6>
            <ul>
                {% for item in slaying_ring %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No ring.
                {% endfor %}
            </ul>
            <br>

        </div>

        <div class="col">
            <h3><img src="{% static 'gear/media/DPSRole.png' %}" alt="Scouting gear"
                     style="width: 35px; height: 35px"> Scouting</h3><br>

            <h6>Head</h6>
            <ul>
                {% for item in scouting_head %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No head.
                {% endfor %}
            </ul>
            <br>

            <h6>Body</h6>
            <ul>
                {% for item in scouting_body %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No body.
                {% endfor %}
            </ul>
            <br>

            <h6>Legs</h6>
            <ul>
                {% for item in scouting_legs %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No legs.
                {% endfor %}
            </ul>
            <br>

            <h6>Hands</h6>
            <ul>
                {% for item in scouting_hands %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No hands.
                {% endfor %}
            </ul>
            <br>

            <h6>Feet</h6>
            <ul>
                {% for item in scouting_feet %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No feet.
                {% endfor %}
            </ul>
            <br>

            <h6>Weapons</h6>
            <ul id="weapons">
                {% for item in nin_weapon %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} ({{ item.job.all.last }},
                        i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No weapon.
                {% endfor %}
            </ul>
            <br>

            <h6>Earrings</h6>
            <ul>
                {% for item in aiming_earrings %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No earrings.
                {% endfor %}
            </ul>
            <br>

            <h6>Necklace</h6>
            <ul>
                {% for item in aiming_necklace %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No necklace.
                {% endfor %}
            </ul>
            <br>

            <h6>Bracelet</h6>
            <ul>
                {% for item in aiming_bracelet %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No bracelet.
                {% endfor %}
            </ul>
            <br>

            <h6>Ring</h6>
            <ul>
                {% for item in aiming_ring %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No ring.
                {% endfor %}
            </ul>
            <br>
        </div>

    </div>
    <br>

    <div class="row">

        <div class="col">
            <h3><img src="{% static 'gear/media/DPSRole.png' %}" alt="Maiming gear"
                     style="width: 35px; height: 35px"> Maiming</h3><br>

            <h6>Head</h6>
            <ul>
                {% for item in slaying_head %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No head.
                {% endfor %}
            </ul>
            <br>

            <h6>Body</h6>
            <ul>
                {% for item in slaying_body %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No body.
                {% endfor %}
            </ul>
            <br>

            <h6>Legs</h6>
            <ul>
                {% for item in slaying_legs %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No legs.
                {% endfor %}
            </ul>
            <br>

            <h6>Hands</h6>
            <ul>
                {% for item in slaying_hands %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No hands.
                {% endfor %}
            </ul>
            <br>

            <h6>Feet</h6>
            <ul>
                {% for item in slaying_feet %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No feet.
                {% endfor %}
            </ul>
            <br>

            <h6>Weapons</h6>
            <ul id="weapons">
                {% for item in drgrpr_weapon %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} ({{ item.job.all.last }},
                        i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No weapon.
                {% endfor %}
            </ul>
            <br>

            <h6>Earrings</h6>
            <ul>
                {% for item in slaying_earrings %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No earrings.
                {% endfor %}
            </ul>
            <br>

            <h6>Necklace</h6>
            <ul>
                {% for item in slaying_necklace %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No necklace.
                {% endfor %}
            </ul>
            <br>

            <h6>Bracelet</h6>
            <ul>
                {% for item in slaying_bracelet %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No bracelet.
                {% endfor %}
            </ul>
            <br>

            <h6>Ring</h6>
            <ul>
                {% for item in slaying_ring %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No ring.
                {% endfor %}
            </ul>
            <br>
        </div>

        <div class="col">
            <h3><img src="{% static 'gear/media/DPSRole.png' %}" alt="Casting gear"
                     style="width: 35px; height: 35px"> Casting</h3><br>

            <h6>Head</h6>
            <ul>
                {% for item in casting_head %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No head.
                {% endfor %}
            </ul>
            <br>

            <h6>Body</h6>
            <ul>
                {% for item in casting_body %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No body.
                {% endfor %}
            </ul>
            <br>

            <h6>Legs</h6>
            <ul>
                {% for item in casting_legs %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No legs.
                {% endfor %}
            </ul>
            <br>

            <h6>Hands</h6>
            <ul>
                {% for item in casting_hands %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No hands.
                {% endfor %}
            </ul>
            <br>

            <h6>Feet</h6>
            <ul>
                {% for item in casting_feet %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No feet.
                {% endfor %}
            </ul>
            <br>

            <h6>Weapons</h6>
            <ul id="weapons">
                {% for item in caster_weapon %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} ({{ item.job.all.last }},
                        i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No weapon.
                {% endfor %}
            </ul>
            <br>

            <h6>Earrings</h6>
            <ul>
                {% for item in casting_earrings %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No earrings.
                {% endfor %}
            </ul>
            <br>

            <h6>Necklace</h6>
            <ul>
                {% for item in casting_necklace %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No necklace.
                {% endfor %}
            </ul>
            <br>

            <h6>Bracelet</h6>
            <ul>
                {% for item in casting_bracelet %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No bracelet.
                {% endfor %}
            </ul>
            <br>

            <h6>Ring</h6>
            <ul>
                {% for item in casting_ring %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No ring.
                {% endfor %}
            </ul>
            <br>
        </div>
    </div>
    <br>

    <div class="row">

        <div class="col">
            <h3><img src="{% static 'gear/media/DPSRole.png' %}" alt="Striking gear"
                     style="width: 35px; height: 35px"> Aiming</h3><br>

            <h6>Head</h6>
            <ul>
                {% for item in aiming_head %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No head.
                {% endfor %}
            </ul>
            <br>

            <h6>Body</h6>
            <ul>
                {% for item in aiming_body %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No body.
                {% endfor %}
            </ul>
            <br>

            <h6>Legs</h6>
            <ul>
                {% for item in aiming_legs %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No legs.
                {% endfor %}
            </ul>
            <br>

            <h6>Hands</h6>
            <ul>
                {% for item in aiming_hands %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No hands.
                {% endfor %}
            </ul>
            <br>

            <h6>Feet</h6>
            <ul>
                {% for item in aiming_feet %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No feet.
                {% endfor %}
            </ul>
            <br>

            <h6>Weapons</h6>
            <ul id="weapons">
                {% for item in ranged_weapon %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} ({{ item.job.all.last }},
                        i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No weapon.
                {% endfor %}
            </ul>
            <br>

            <h6>Earrings</h6>
            <ul>
                {% for item in aiming_earrings %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No earrings.
                {% endfor %}
            </ul>
            <br>

            <h6>Necklace</h6>
            <ul>
                {% for item in aiming_necklace %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No necklace.
                {% endfor %}
            </ul>
            <br>

            <h6>Bracelet</h6>
            <ul>
                {% for item in aiming_bracelet %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No bracelet.
                {% endfor %}
            </ul>
            <br>

            <h6>Ring</h6>
            <ul>
                {% for item in aiming_ring %}
                    <li><a href="{% url 'gear_details' item.pk %}">{{ item.name }} (i{{ item.item_level }})</a>
                    </li>
                {% empty %}
                    No ring.
                {% endfor %}
            </ul>
            <br>
        </div>

    </div>

{% endblock %}