{% extends 'gear/__base__.html' %}
{% load static %}
{% block content %}
    <img src="{% static 'gear/media/the_dark_throne_ff14_6_4.jpg' %}" class="img-fluid" alt="Patch banner">
    <br><br>

    <h1>Best in slots</h1>
    <br>

    <div class="container">
        <div class="row">

            <div class="col">
                <h3>
                    <img src="{% static 'gear/media/TankRole.png' %}" alt="Tank Role" style="width: 40px; height: 40px">
                    Tanks
                </h3><br>
                <div class="tanks">
                    <h5><img src="{% static 'gear/media/Paladin.png' %}" alt="paladin job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=1 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Paladin</a></h5>
                    <h5><img src="{% static 'gear/media/Warrior.png' %}" alt="warrior job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=42 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Warrior</a></h5>
                    <h5><img src="{% static 'gear/media/DarkKnight.png' %}" alt="dark knight job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=43 %}"
                                                                  style="text-decoration: none; color: #444444"> Dark
                        Knight</a></h5>
                    <h5><img src="{% static 'gear/media/Gunbreaker.png' %}" alt="gunbreaker job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=44 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Gunbreaker</a></h5>
                </div>
            </div>

            <div class="col">
                <h3>
                    <img src="{% static 'gear/media/HealerRole.png' %}" alt="Healer Role"
                         style="width: 40px; height: 40px">
                    Healers
                </h3><br>
                <div class="healers">
                    <h5><img src="{% static 'gear/media/WhiteMage.png' %}" alt="White mage job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=2 %}"
                                                                  style="text-decoration: none; color: #444444"> White
                        mage</a></h5>
                    <h5><img src="{% static 'gear/media/Scholar.png' %}" alt="Scholar job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=75 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Scholar</a></h5>
                    <h5><img src="{% static 'gear/media/Astrologian.png' %}" alt="Astrologian job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=87 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Astrologian</a></h5>
                    <h5><img src="{% static 'gear/media/Sage.png' %}" alt="Sage job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=74 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Sage</a></h5>
                </div>
            </div>

            <div class="col">
                <h3>
                    <img src="{% static 'gear/media/DPSRole.png' %}" alt="DPS Role" style="width: 40px; height: 40px">
                    Melee
                </h3><br>
                <div class="melees">
                    <h5><img src="{% static 'gear/media/Monk.png' %}" alt="Monk job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=76 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Monk</a></h5>
                    <h5><img src="{% static 'gear/media/Dragoon.png' %}" alt="Dragoon job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=77 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Dragoon</a></h5>
                    <h5><img src="{% static 'gear/media/Ninja.png' %}" alt="Ninja job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=78 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Ninja</a></h5>
                    <h5><img src="{% static 'gear/media/Samurai.png' %}" alt="Samurai job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=79 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Samurai</a></h5>
                    <h5><img src="{% static 'gear/media/Reaper.png' %}" alt="Reaper job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=80 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Reaper</a></h5>
                </div>
            </div>

            <div class="col">
                <h3>
                    <img src="{% static 'gear/media/DPSRole.png' %}" alt="DPS Role" style="width: 40px; height: 40px">
                    Ranged
                </h3><br>
                <div class="ranged">
                    <h5><img src="{% static 'gear/media/Bard.png' %}" alt="Bard job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=81 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Bard</a></h5>
                    <h5><img src="{% static 'gear/media/Dancer.png' %}" alt="Dancer job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=82 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Dancer</a></h5>
                    <h5><img src="{% static 'gear/media/Machinist.png' %}" alt="Machinist job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=83 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Machinist</a></h5>
                    <h5><img src="{% static 'gear/media/BlackMage.png' %}" alt="Black Mage job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=84 %}"
                                                                  style="text-decoration: none; color: #444444"> Black
                        Mage</a></h5>
                    <h5><img src="{% static 'gear/media/Summoner.png' %}" alt="Summoner job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=85 %}"
                                                                  style="text-decoration: none; color: #444444">
                        Summoner</a></h5>
                    <h5><img src="{% static 'gear/media/RedMage.png' %}" alt="Red Mage job icon"
                             style="width: 30px; height: 30px"><a href="{% url 'gearset_details' pk=86 %}"
                                                                  style="text-decoration: none; color: #444444"> Red
                        Mage</a></h5>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
