{% extends 'gear/__base__.html' %}
{% load static %}
{% block content %}
    <img src="{% static 'gear/media/the_dark_throne_ff14_6_4.jpg' %}" class="img-fluid" alt="Patch banner">
    <br><br>

    <h1>Best in slots</h1>
    <br>

    <div class="container">
        <div class="row">

            <div class="col">
                <h3>
                    <img src="{% static 'gear/media/TankRole.png' %}" alt="Tank Role" style="width: 40px; height: 40px">
                    Tanks
                </h3><br>
                <div>
                    <h5><img src="{% static 'gear/media/Paladin.png' %}" alt="paladin job icon"
                             style="width: 30px; height: 30px"> Paladin</h5>
                    <h5><img src="{% static 'gear/media/Warrior.png' %}" alt="warrior job icon"
                             style="width: 30px; height: 30px"> Warrior</h5>
                    <h5><img src="{% static 'gear/media/DarkKnight.png' %}" alt="dark knight job icon"
                             style="width: 30px; height: 30px"> Dark Knight</h5>
                    <h5><img src="{% static 'gear/media/Gunbreaker.png' %}" alt="gunbreaker job icon"
                             style="width: 30px; height: 30px"> Gunbreaker</h5>
                </div>
            </div>

            <div class="col">
                <h3>
                    <img src="{% static 'gear/media/HealerRole.png' %}" alt="Healer Role"
                         style="width: 40px; height: 40px">
                    Healers
                </h3><br>
                <div>
                    <h5><img src="{% static 'gear/media/WhiteMage.png' %}" alt="White mage job icon"
                             style="width: 30px; height: 30px"> White mage</h5>
                    <h5><img src="{% static 'gear/media/Scholar.png' %}" alt="Scholar job icon"
                             style="width: 30px; height: 30px"> Scholar</h5>
                    <h5><img src="{% static 'gear/media/Astrologian.png' %}" alt="Astrologian job icon"
                             style="width: 30px; height: 30px"> Astrologian</h5>
                    <h5><img src="{% static 'gear/media/Sage.png' %}" alt="Sage job icon"
                             style="width: 30px; height: 30px"> Sage</h5>
                </div>
            </div>

            <div class="col">
                <h3>
                    <img src="{% static 'gear/media/DPSRole.png' %}" alt="DPS Role" style="width: 40px; height: 40px">
                    Melee
                </h3><br>
                <div>
                    <h5><img src="{% static 'gear/media/Monk.png' %}" alt="Monk job icon"
                             style="width: 30px; height: 30px"> Monk</h5>
                    <h5><img src="{% static 'gear/media/Dragoon.png' %}" alt="Dragoon job icon"
                             style="width: 30px; height: 30px"> Dragoon</h5>
                    <h5><img src="{% static 'gear/media/Ninja.png' %}" alt="Ninja job icon"
                             style="width: 30px; height: 30px"> Ninja</h5>
                    <h5><img src="{% static 'gear/media/Samurai.png' %}" alt="Samurai job icon"
                             style="width: 30px; height: 30px"> Samurai</h5>
                    <h5><img src="{% static 'gear/media/Reaper.png' %}" alt="Reaper job icon"
                             style="width: 30px; height: 30px"> Reaper</h5>
                </div>
            </div>

            <div class="col">
                <h3>
                    <img src="{% static 'gear/media/DPSRole.png' %}" alt="DPS Role" style="width: 40px; height: 40px">
                    Ranged
                </h3><br>
                <div>
                    <h5><img src="{% static 'gear/media/Bard.png' %}" alt="Bard job icon"
                             style="width: 30px; height: 30px"> Bard</h5>
                    <h5><img src="{% static 'gear/media/Dancer.png' %}" alt="Dancer job icon"
                             style="width: 30px; height: 30px"> Dancer</h5>
                    <h5><img src="{% static 'gear/media/Machinist.png' %}" alt="Machinist job icon"
                             style="width: 30px; height: 30px"> Machinist</h5>
                    <h5><img src="{% static 'gear/media/BlackMage.png' %}" alt="Black Mage job icon"
                             style="width: 30px; height: 30px"> Black Mage</h5>
                    <h5><img src="{% static 'gear/media/Summoner.png' %}" alt="Summoner job icon"
                             style="width: 30px; height: 30px"> Summoner</h5>
                    <h5><img src="{% static 'gear/media/RedMage.png' %}" alt="Red Mage job icon"
                             style="width: 30px; height: 30px"> Red Mage</h5>
                </div>
            </div>

        </div>
    </div>

{% endblock %}