{% extends 'gear/__base__.html' %}
{% block title %}- Races Base Stats{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for race in races %}
                <div class="col-3">
                    <h4>{{ race.name }}</h4>
                    <table class="table table-hover">
                        <tr>
                            <th>Strength:</th>
                            <td>{{ race.base_strength }}</td>
                        </tr>
                        <tr>
                            <th>Dexterity:</th>
                            <td>{{ race.base_dexterity }}</td>
                        </tr>
                        <tr>
                            <th>Intelligence:</th>
                            <td>{{ race.base_intelligence }}</td>
                        </tr>
                        <tr>
                            <th>Mind:</th>
                            <td>{{ race.base_mind }}</td>
                        </tr>
                        <tr>
                            <th>Piety:</th>
                            <td>{{ race.base_piety }}</td>
                        </tr>
                        <tr>
                            <th>Vitality:</th>
                            <td>{{ race.base_vitality }}</td>
                        </tr>
                    </table>
                </div>
            {% endfor %}
         </div>
    </div>
{% endblock %}