{% extends 'gear/__base__.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Username: </h4>
                {{ user.username }}
            </div>
            <div class="col">
                <h4>E-mail: </h4>
                {{ user.email|default:'None' }}
            </div>
        </div>
        <br>
        <h4>{{ user.username }}'s gearsets:</h4><br>
        <table class="table table-responsive table-hover table-sm">
            {% for gearset in gearsets %}
                <tr>
                    <th class="col-4">{{ gearset }}</th>
                    <td class="col-4">{{ gearset.job.name }}</td>
                    <td class="col-1"><a href="{% url 'gearset_details' gearset.gearset.pk %}"
                                         class="btn btn-sm btn-outline-info">View</a></td>
{#                    <td class="col-1"><a href="{% url 'update_gearset' gearset.gearset.id %}"#}
{#                                         class="btn btn-sm btn-outline-success">Edit</a></td>#}
                    <td class="col-1"><a href="#"
                                         class="btn btn-sm btn-outline-success">Edit</a></td>
                </tr>
            {% empty %}
                <tr>
                    <th>None</th>
                </tr>
            {% endfor %}
        </table>
        <br><br>

        <a class='btn btn-outline-primary' href="{% url 'index' %}">Home</a>
    </div>


{% endblock %}