:root {
    --basic-colour: #658bf5;
    --main-background: #212529;
}

.menu-link {
    text-decoration: none;
    color: white;
}

.footer-legal {
    font-size: 12px;
    position: sticky;
    background-color: var(--main-background);

    /* padding: 10px; */
    &>a {
        text-decoration: none;
        color: var(--basic-colour);
    }
}

.job-link {
    text-decoration: none;
    color: white;
}

.header {
    font-size: 24px;
    position: sticky;
    color: var(--basic-colour);
    /* left: 40vw;
    top: 0.5vh;
    width: 100%; */
}

thead th>strong {
    color: var(--basic-colour);
}

tbody td>strong {
    color: var(--basic-colour);
}

p>strong {
    color: var(--basic-colour);
}

.category-list {
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.pvp-list li>strong {
    color: var(--basic-colour);
}
