.menu-link {
    text-decoration: none;
    color: white;
} 

.job-list {
    margin-top: 2vh;
}

.footer-legal {
    font-size: 12px;
    color: white;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.job-link {
    text-decoration: none;
    color: white;
  }
