:root {
    --main-important-colour: #658bf5;
    --main-background: #212529;
    --main-link-text-colour: white;
    --header-text-size: 24px;
}

strong {
    color: var(--main-important-colour);
}

.footer-legal {
    font-size: calc(var(--header-text-size) /2);
    position: sticky;
}

.menu-link,
.job-link,
.gear_details_link {
    color: var(--main-link-text-colour);
    text-decoration: none;
}

.menu-link-icon {
    display: inline-block;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
}

.header {
    color: var(--main-important-colour);
    font-size: var(--header-text-size);
    position: sticky;
}

.category-list {
    margin-top: 2vh;
    margin-bottom: 15px;
}

.categories-tables {
    margin-top: 10px;
    display: flex;
    gap: 10px 10px;
    justify-content: flex-start;
    align-content: flex-start;
    flex-flow: row wrap;
}

.eorzeadb_link,
.footer-legal>a {
    color: var(--main-important-colour);
}

.strong20>strong {
    font-size: 20px;
}

.pvp-calc-input {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 100px;
}

.inline-block {
    display: inline-block;
}


.td-none>* {
    text-decoration: none;
}

/* MARGIN TOP */
.mt0 {
    margin-top: 0;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

/* MARGIN RIGHT */
.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

/* MARGIN LEFT */
.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

/* MARGIN BOTTOM */
.mb0 {
    margin-bottom: 0;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

/* MARGIN TOP-BOTTOM */
.mtb0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.form__input_text {
    color: black;
}

.form__input_label {
    color: white;
}

.form__input_w80 {
    width: 80%;
}

.job-header {
    margin-left: 20%;
    margin-bottom: 10%;
    font-size: var(--header-text-size);
}

.left-side-slots {
    margin-left: 40%;
}

div.items-rows {
    padding: 10px;
}
